#card-display {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

card-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: 40vh;
}

@media (max-width: 768px) {
  #card-display {
    margin-top: 2.5vh;
  }
}

@media (max-width: 560px) {
  #card-display {
    margin-top: 1vh;
  }
}
