#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: none;
  text-align: center;
  background-image: url("./assets/imgs/peep-show-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#main {
  display: flex;
  align-items: centser;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgb(2, 34, 2);
  width: 100vw;
  height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

img {
  border-radius: 1rem;
}

h1 {
  border-bottom: 5px rgb(7, 116, 7) solid;
  width: fit-content;
  font-weight: 900;
  font-size: 3rem;
  -webkit-text-stroke: 2px rgb(9, 32, 1);
}

#logo-div {
  background-color: rgba(255, 255, 255, 0.377);
  padding: 2vh;
  border-radius: 1rem;
  width: 50vh;
  box-shadow: #010101 0px 0px 20px;
}

#logo-div img {
  width: 40vh;
  height: 30vh;
  transition: scale ease-in-out 0.8s 0s;
}

#start-div {
  margin-top: 5vh;
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: center;
}

#start-div button,
#game-overview button {
  background-color: rgba(255, 255, 255, 0.644);
  color: black;
  font-size: 1.3rem;
  font-weight: 800;
  width: 18vh;
  margin: 0 1vw 0 1vw;
  border: none;
  border-radius: 0.4rem;
  box-shadow: #010101 0px 0px 5px;
  cursor: pointer;
  transition: all ease-in-out 0.7s 0.01s;
}

#start-div button:hover,
#game-overview button:hover {
  scale: 105%;
  background-color: rgba(2, 43, 2, 0.842);
  color: white;
}

#game-overview {
  margin-top: 30vh;
  background-color: rgba(255, 255, 255, 0.377);
  padding: 2vh;
  border-radius: 1rem;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game-overview h2 {
  width: fit-content;
  font-weight: 900;
  font-size: 3rem;
  -webkit-text-stroke: 2px rgb(9, 32, 1);
}

@media (max-width: 768px) {
  #game-overview button,
  #start-div button {
    font-size: 1.7rem;
    font-weight: 900;
    width: 22vh;
    padding: 1vh;
    cursor: pointer;
  }
}

@media (max-width: 560px) {
  #game-overview button,
  #start-div button {
    font-size: 1.7rem;
    font-weight: 900;
    width: 25vh;
    padding: 2vh;
    cursor: pointer;
  }
}
