#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: none;
  text-align: center;
  background-image: url("./assets/imgs/peep-show-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#start-screen {
  margin-top: 24vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgb(2, 34, 2);
  width: 100vw;
  height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

img {
  border-radius: 1rem;
}

h1 {
  border-bottom: 5px rgb(7, 116, 7) solid;
  width: fit-content;

  -webkit-text-stroke: 3px rgb(9, 32, 1);
}

#logo-div {
  background-color: rgba(255, 255, 255, 0.377);
  padding: 2vh;
  border-radius: 1rem;
}

#start-div {
  margin-top: 5vh;
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: center;
}

#start-div button {
  background-color: rgba(255, 255, 255, 0.644);
  color: black;
  font-size: 1.3rem;
  width: 18vw;
  margin: 0 1vw 0 1vw;
}
